" =============================================================================
" Vundle Configuration File.
" Author - Aditya Shevade <aditya.shevade@gmail.com>
" =============================================================================

" Set the required flags for Vundle
filetype off
set rtp+=~/.vim/bundle/vundle/
call vundle#rc()

" Let Vundle manage Vundle
" This line is required!
Bundle 'gmarik/vundle'

" Put all bundles below this line.

" Generic
Bundle 'kien/ctrlp.vim'
"Bundle 'tpope/vim-surround'
Bundle 'scrooloose/nerdtree'
" TODO: dwm.vim has conflicts with nerdtree. Resolve them.
" Bundle 'spolu/dwm.vim'
Bundle 'godlygeek/tabular'

" Programming
Bundle 'tpope/vim-fugitive'
Bundle 'scrooloose/syntastic'
Bundle 'msanders/snipmate.vim'
Bundle 'klen/python-mode'
Bundle 'c.vim'
Bundle 'matchit.zip'
Bundle 'ccase.vim'

" Colorschemes
Bundle 'altercation/vim-colors-solarized'

" Github repos of the user 'vim-scripts'
" => can omit the username part
" Bundle 'L9'
" Bundle 'FuzzyFinder'

" non github repos
" Bundle 'git://git.wincent.com/command-t.git'

" Set filetype back on before proceeding further.
filetype plugin indent on     " required!
