" =============================================================================
" Vundle Configuration File.
" Author - Aditya Shevade <aditya.shevade@gmail.com>
" =============================================================================

" Set the required flags for Vundle
set nocompatible              " be iMproved, required
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

" Let Vundle manage Vundle
" This line is required!
Plugin 'gmarik/Vundle.vim'

" Put all Plugins below this line.

" Generic
Plugin 'kien/ctrlp.vim'
"Plugin 'tpope/vim-surround'
Plugin 'scrooloose/nerdtree'
" TODO: dwm.vim has conflicts with nerdtree. Resolve them.
"Plugin 'spolu/dwm.vim'
Plugin 'godlygeek/tabular'
" Removed this since I use ctrlp for buffer navigation now.
"Plugin 'fholgado/minibufexpl.vim'

" Programming
Plugin 'tpope/vim-fugitive'
Plugin 'scrooloose/syntastic'
Plugin 'klen/python-mode'
Plugin 'c.vim'
Plugin 'matchit.zip'
Plugin 'MarcWeber/vim-addon-mw-utils'
Plugin 'tomtom/tlib_vim'
Plugin 'garbas/vim-snipmate'
" Optional:
Plugin 'honza/vim-snippets'

" Colorschemes
Plugin 'altercation/vim-colors-solarized'

" Github repos of the user 'vim-scripts'
" => can omit the username part
" Plugin 'L9'
" Plugin 'FuzzyFinder'

" non github repos
" Plugin 'git://git.wincent.com/command-t.git'

" Set filetype back on before proceeding further.
" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required
