" =============================================================================
" Vundle Configuration File.
" Author - Aditya Shevade <aditya.shevade@gmail.com>
" =============================================================================

" Set the required flags for Vundle
set nocompatible              " required
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

" Let Vundle manage Vundle
" This line is required!
Plugin 'gmarik/Vundle.vim'

" Put all Plugins below this line.

" -----------------------------------------------------------------------------
" Generic
" -----------------------------------------------------------------------------
Plugin 'kien/ctrlp.vim'         " fuzzy-matching explorer
"Plugin 'tpope/vim-surround'
Plugin 'scrooloose/nerdtree'    " tree browser
Plugin 'bling/vim-airline'

" -----------------------------------------------------------------------------
" Programming
" -----------------------------------------------------------------------------
Plugin 'tpope/vim-fugitive'     " git integration
Plugin 'scrooloose/syntastic'   " syntax checking
Plugin 'klen/python-mode'       " python
Plugin 'c.vim'                  " c/c++
Plugin 'matchit.zip'            " match code delimiters

" -----------------------------------------------------------------------------
" Colorschemes
" -----------------------------------------------------------------------------
"Plugin 'altercation/vim-colors-solarized'
"Plugin 'chriskempson/base16-vim'
Plugin 'morhetz/gruvbox'

" Github repos of the user 'vim-scripts'
" => can omit the username part
" Plugin 'L9'
" Plugin 'FuzzyFinder'

" non github repos
" Plugin 'git://git.wincent.com/command-t.git'

" Set filetype back on before proceeding further.
" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required
